extends ../layout

include ../games/mixins
include ../notifications

block body
	#container-inner.user-profile
		u = user(2);
		- console.log(player);
		- if(u)
			- if(u.email)
				img(src='http://www.gravatar.com/avatar/'+u.email_hash)
			h1 Welcome to your dashboard!

			h1 Notifications
			mixin do_notifications()
			
			h1 Current Games
			mixin do_games(player.games, true, false)
			
			h1 Past Games
			mixin do_games(player.games, true, true)

			h6 User
			pre !{JSON.stringify(player, null, '\t')}