#container-inner
	#header
		h1 FRENEMY CONFESSIONAL
		
	h2 Whatever you say here is completely anonymous.

	form(method="POST")#confessionForm.form-horizontal
		textarea#text.span7(type="text", placeholder="", name="text")
		
		button.btn.btn-inverse(type="submit") confess