extends ../layout-confessional

block body
	#container-inner
		#header
			h1 FRENEMY CONFESSIONAL
			
		h2
			| Your confession has been recorded. If at any time you'd like to talk directly with Frenemy creators, email 
			a(href="mailto:experimonth@lifeandscience.org.") experimonth@lifeandscience.org
			| .
		h2
			a(href="/confessional") Want to confess something else?