extends ../layout

include ../games/mixins

block body
	#container-inner.user-profile
		.row
			.col-md-4.col-md-offset-4
				h4.text-center Frenemy hasn't started yet.
				p.text-center 
					| If your 
					a(href=process.env.AUTH_SERVER+"/profile") Experimonth Profile
					|  is 100% complete, you'll receive an email when Frenemy starts notifying you of your first game. If you don't receive that email, double-check that your profile is 100% complete and then email us at 
					a(href="mailto:experimonth@lifeandscience.org") experimonth@lifeandscience.org
					| .