h3 How do I play?
p Each day in Frenemy is slightly different. Some days, you are given a piece of information about the other player. Other days, you are given new options like the ability to leave the game early or to assign a "good" or "bad" reputation to the other player.  But everyday, you have only one choice to make: friend or enemy. You'll make that choice between 4-8 times each game (the number of rounds of each game is selected at random at the start of the day).  Each time the other player has played, you'll receive an email notification. Continue to vote until you get a "Frenemy Game Over" email. The next day, you'll be paired with a different person.

h3 How do I win?
p Your choice of "friend" or "enemy" combined with the other player's choice of "friend or enemy" determines how many points you get. You can click the "Score Reminder" tab at the bottom of the screen during any game to look these point values up.  If you play at least 80% of the month (24 days), you'll be entered into a drawing for a prize at the end of the month. The number of raffle tickets you have will be the number of points you have.  We will not show you or anyone else your score until the last day of the month.

h3 Is there a point?
p Yes. The point is to have fun, learn about yourself, learn about others, and in the process generate data for scientists to understand when we choose friend vs. enemy and under what circumstances. Ultimately, this game is about cooperation in the long vs. short term, and what influences our decisions to make choices in either direction.

h3 What is the confessional?
p
	| The 
	a(href="http://science.experimonth.com/confessional") Confessional
	|  is a space for you to anonymously share your experience of playing the game. We invite you to 
	a(href="http://science.experimonth.com/confess") say whatever you'd like
	|  or to respond to other confessions.  We also invite you to be respectful, to be forthright and to be yourself.

h3 Can I stop playing?
p
	| Yes, simply visit the 
	a(href="http://science.experimonth.com/currently-recruiting") Currently Recruiting
	|  page and click "Un-enroll." Note that you will not be able to rejoin this Frenemy, but you can enroll in a future Frenemy (or other Experimonth), if there are open ones listed.