html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
body > .container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
body > .container > #container-inner {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
  /*
			overflow: scroll;
			height: 100%;
*/

}
body.confessional {
  background-color: white;
  color: #333;
}
body.confessional #container-inner {
  width: 940px;
}
body.confessional #container-inner #header h1 {
  background-image: url('../img/frenemy-confessional-logo.png');
  float: none;
  margin: 0 auto;
  width: 585px;
  height: 184px;
  text-indent: -999em;
}
body.confessional #container-inner h2 {
  color: #bababa;
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  line-height: 1em;
}
body.confessional #container-inner textarea {
  display: block;
  height: 330px;
  margin: 0 auto;
}
body.confessional #container-inner button {
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  font-size: 40px;
  line-height: 30px;
  padding-top: 10px;
  display: block;
  width: 160px;
  margin: 20px auto 0 auto;
}
body.confessional #container-inner h3 {
  color: #999;
  font-size: 15px;
  line-height: 1.2em;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}
body.confessional .modal {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  font-weight: bold;
  color: #278fd8;
}
/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  *zoom: 1;
}
/*
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #333;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
	background-color: #666;
}
*/
.pane {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pane .handle {
  display: block;
  background-color: #278fd8;
  margin: 0 auto;
  color: white;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-transform: lowercase;
}
.pane .handle a {
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.pane .inner {
  height: 670px;
  background-color: #278fd8;
  padding: 35px;
}
.pane .inner .content {
  border: none;
  background-color: white;
  -webkit-box-shadow: 5px 10px 0 0 #375163;
  box-shadow: 5px 10px 0 0 #375163;
}
.pane .inner .content h1,
.pane .inner .content h2,
.pane .inner .content h3 {
  text-align: center;
}
.pane .inner .content h1 {
  text-align: center;
  padding: 35px 0;
  font-size: 45px;
  line-height: 100%;
}
.pane .inner .content h2 {
  padding: 0 0 35px 0;
  font-size: 42px;
  line-height: 100%;
}
.pane .inner .content h3 {
  font-size: 25px;
  line-height: 120%;
  color: black;
  padding: 0 30px;
}
.pane .inner .content .profile {
  padding: 340px 0 0 0;
  background: transparent url('../img/birthday.png') scroll no-repeat center top;
}
.pane .inner .content .profile.chat {
  background-image: url('../img/chat.png');
}
.pane .inner .content .profile.personality.Extrovert {
  background-image: url('../img/extrovert.png');
}
.pane .inner .content .profile.personality.Introvert {
  background-image: url('../img/introvert.png');
}
.pane .inner .content .profile.no-info {
  background-image: url('../img/noinfo.png');
}
.pane .inner .content .profile.sports-team {
  background-image: url('../img/sportsteam.png');
}
.pane .inner .content .profile.transportation {
  background-image: url('../img/transportation.png');
}
.pane .inner .content .profile.color,
.pane .inner .content .profile.voting {
  padding: 0;
  background: none;
}
.pane .inner .content .profile .color {
  display: block;
  width: 340px;
  height: 340px;
  margin: 0 auto 35px auto;
  text-indent: -999em;
}
.pane .inner .content .color.Red {
  background-color: #ff3333;
}
.pane .inner .content .color.Orange {
  background-color: #ff6633;
}
.pane .inner .content .color.Yellow {
  background-color: #ffec00;
}
.pane .inner .content .color.Green {
  background-color: #66cc33;
}
.pane .inner .content .color.Blue {
  background-color: #0000ff;
}
.pane .inner .content .color.Indigo {
  background-color: #333399;
}
.pane .inner .content .color.Violet {
  background-color: #ff00ff;
}
.pane .inner .content .color.White {
  background-color: #ffffff;
}
.pane .inner .content .color.Black {
  background-color: #000000;
}
.pane .inner .content .profile.voting {
  color: #8d8d8d;
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  font-size: 20px;
  line-height: 200%;
}
.pane .inner .content .profile.voting ul,
.pane .inner .content .profile.voting li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
}
.pane .inner .content .profile.voting li {
  padding: 0 0 10px 0;
}
.pane .inner .content .profile.voting span.date {
  display: block;
  width: 100px;
  float: left;
  text-align: right;
  padding: 15px 10px 0 0;
}
.pane .inner .content .profile.voting span.no-votes {
  display: block;
  padding: 15px 0 0 0;
}
.pane .inner .content .profile.voting span.friend,
.pane .inner .content .profile.voting span.enemy {
  float: left;
  margin: 0 2px;
}
.pane .inner .content .profile.voting span.friend {
  background-position: -126px top;
}
.pane .inner .content .profile.voting span.enemy {
  background-position: -84px top;
}
.pane .inner .content .profile.voting h3 {
  clear: both;
  padding-top: 10px;
}
#leaderboard {
  width: 820px;
  height: 530px;
  position: absolute;
  bottom: -585px;
  left: 50%;
  margin-left: -410px;
}
#leaderboard .handle {
  height: 55px;
  width: 330px;
}
#leaderboard .inner {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#leaderboard .inner .spinner {
  left: 375px;
  top: 100px;
}
#leaderboard .inner > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  color: #bfdef3;
  font-weight: bold;
  display: block;
  float: left;
  cursor: pointer;
  margin: 0 20px 10px 10px;
}
#leaderboard .inner > a > i {
  background-color: #375163;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  width: 20px;
  height: 19px;
  text-align: center;
  padding-top: 1px;
}
#leaderboard .inner > a.disabled {
  color: #CCC;
  cursor: default;
}
#leaderboard .inner > a.next {
  float: right;
}
#leaderboard .inner .content {
  clear: both;
  width: 740px;
  height: 380px;
}
#leaderboard .inner .content .headings {
  width: 520px;
  margin: 0 auto 10px auto;
  padding: 20px 0 0 0;
}
#leaderboard .inner .content .headings h3 {
  color: #8d8d8d;
  display: inline-block;
  width: 120px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 120%;
}
#leaderboard .inner .content .headings h3.score {
  text-align: right;
  width: 360px;
}
#leaderboard .inner .content .ul-container {
  overflow: hidden;
  width: 500px;
  height: 380px;
  margin: 0 auto;
  position: relative;
}
#leaderboard .inner .content .ul-container ul {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 500px;
  margin: 0px auto;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 740px;
}
#leaderboard .inner .content .ul-container ul li {
  border-bottom: 1px solid #dfeef9;
  margin-bottom: 10px;
}
#leaderboard .inner .content .ul-container ul li .name,
#leaderboard .inner .content .ul-container ul li .score {
  display: inline-block;
  width: 120px;
  color: black;
}
#leaderboard .inner .content .ul-container ul li .name {
  font-size: 20px;
  line-height: 100%;
}
#leaderboard .inner .content .ul-container ul li .score {
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  font-size: 35px;
  line-height: 120%;
  width: 360px;
  text-align: right;
  color: #278fd8;
}
#leaderboard .inner .content .ul-container ul li:last-child {
  border-bottom: none;
}
#chat {
  width: 770px;
  height: 500px;
  position: absolute;
  top: -625px;
  left: 50%;
  margin-left: -385px;
}
#chat .handle {
  height: 55px;
  width: 330px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#chat .inner {
  height: 520px;
  padding-top: 15px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#chat .inner p {
  margin-bottom: 10px;
  text-align: center;
}
#chat .inner p a {
  color: #ffcb05;
}
#chat .inner .content {
  width: 700px;
  height: 500px;
}
#me {
  width: 550px;
  height: 740px;
  position: absolute;
  left: -605px;
  top: 20px;
}
#me .handle {
  position: absolute;
  right: -192px;
  top: 300px;
  height: 55px;
  width: 330px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  zoom: 1;
}
#me .inner {
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#me .inner .content {
  width: 480px;
  height: 670px;
}
#my-opponent {
  width: 550px;
  height: 740px;
  position: absolute;
  right: -605px;
  top: 20px;
}
#my-opponent .handle {
  position: absolute;
  left: -192px;
  top: 300px;
  height: 55px;
  width: 330px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  zoom: 1;
}
#my-opponent .inner {
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#my-opponent .inner .content {
  width: 480px;
  height: 670px;
}
#header h2 {
  font-size: 40px;
  line-height: 120%;
}
#header h2.lets {
  width: 110px;
  float: left;
  text-transform: uppercase;
  margin: 35px 20px 0 185px;
}
#header h1 a {
  background: transparent url('../img/logo.png') scroll no-repeat left top;
  width: 582px;
  height: 181px;
  text-indent: -999em;
  float: left;
}
#header h2.prompt {
  width: 215px;
  float: left;
  margin: 35px 0 0 20px;
}
#header h2.oops {
  margin-top: 55px;
}
#vote {
  clear: both;
  padding-top: 20px;
  width: 754px;
  margin: 0 auto;
  position: relative;
}
#vote a.vote {
  display: block;
  width: 357px;
  margin: 0 10px;
  float: left;
}
#vote a.vote > .avatar {
  background-color: white;
  padding: 28px;
  width: 285px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 10px 0 0 #2d2d2d;
  box-shadow: 5px 10px 0 0 #2d2d2d;
}
#vote a.vote > .avatar > .inner {
  background: #ffffff url('../img/sprite.png') scroll no-repeat left -326px;
  width: 285px;
  height: 285px;
  text-indent: -999em;
}
#vote a.vote.enemy > .avatar > .inner {
  background-position: -285px -326px;
}
#vote a.vote.chosen,
#vote a.vote.active:hover {
  text-decoration: none;
}
#vote a.vote.chosen > .avatar,
#vote a.vote.active:hover > .avatar {
  background-color: #ffcb05;
}
#vote a.vote.chosen > .avatar > .inner,
#vote a.vote.active:hover > .avatar > .inner {
  background-color: #ffcb05;
  background-position: left -611px;
}
#vote a.vote.chosen h3,
#vote a.vote.active:hover h3 {
  color: #c4161c;
}
#vote a.vote.chosen.enemy > .avatar > .inner,
#vote a.vote.active.enemy:hover > .avatar > .inner {
  background-position: -285px -611px;
}
#vote a.vote.disabled {
  cursor: default;
}
#vote a.vote.strikethrough {
  text-decoration: none;
}
#vote a.vote.strikethrough h3 {
  position: relative;
}
#vote a.vote.strikethrough h3:before {
  content: url('../img/strikethrough.png');
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -75px;
}
#vote a.vote.strikethrough .avatar {
  background-color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#vote a.vote.strikethrough .avatar .inner {
  background-color: black;
  background-position: left -41px;
}
#vote a.enemy.vote.strikethrough .avatar .inner {
  background-position: -285px -41px;
}
#vote a.next-round {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 70px 70px 70px 70px;
  border-radius: 70px 70px 70px 70px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid black;
  background-color: white;
  display: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -72px 0 0 -72px;
  padding: 25px 20px 15px 20px;
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  color: #278fd8;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
}
#vote h3 {
  color: white;
  text-align: center;
  font-size: 40px;
  line-height: 120%;
  margin-top: 16px;
}
#expired {
  clear: both;
  padding-top: 120px;
}
#expired h2 {
  font-size: 35px;
  line-height: 120%;
  color: white;
  text-align: center;
}
#expired h2.blue {
  color: #278fd8;
}
span.friend,
span.enemy {
  display: block;
  width: 42px;
  height: 41px;
  background: transparent url('../img/sprite.png') scroll no-repeat left top;
  margin: 0 14px;
  text-indent: -999em;
}
span.enemy {
  background-position: -42px top;
}
#scoring {
  width: 1070px;
  margin: 0 auto;
  clear: both;
  padding-bottom: 150px;
}
#scoring h4 {
  color: #808080;
  border-bottom: 1px solid #808080;
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px 0 10px 0;
}
#scoring ul {
  list-style-type: none;
  width: 963px;
  margin: 0 auto;
  padding: 0;
}
#scoring ul li {
  margin: 0;
  padding: 20px 50px;
  border-left: 1px solid #333333;
  display: block;
  width: 140px;
  float: left;
}
#scoring ul li .visuals span.friend,
#scoring ul li .visuals span.enemy {
  float: left;
}
#scoring ul li .text {
  clear: both;
  text-align: center;
  font-size: 30px;
  line-height: 100%;
  color: #b0b0b0;
  padding-top: 20px;
}
#scoring ul li .text .points {
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
}
#scoring ul li .text .comma {
  display: inline-block;
  margin-right: 5px;
}
#scoring ul li:first-child {
  border-left: none;
}
#scoring ul li.active {
  background-color: #333;
}
.you {
  color: #ffcb05;
}
a.you:hover,
a.you:active {
  color: #ffcb05;
}
.them {
  color: #767676;
}
#results {
  clear: both;
  width: 100%;
  text-align: center;
  font-family: 'Bauhaus W01 Heavy', Arial, sans-serif;
  font-size: 35px;
  line-height: 120%;
}
#results th {
  padding: 15px 15px 5px 15px;
}
#results .friend,
#results .enemy {
  margin: 10px auto;
}
#results .enemy {
  background-position: -84px top;
}
#results th.moves,
#results th.points {
  border-bottom: 1px solid white;
}
#results tbody tr {
  border-top: 1px solid #6d6d6d;
  padding-bottom: 10px;
}
#results tbody tr:first-child {
  border-top: none;
}
#results tbody tr.total {
  border-top: none;
}
#results tbody tr.total span.value {
  display: inline-block;
  padding: 15px 15px 5px 15px;
}
#results tbody tr.total .tie span.value,
#results tbody tr.total .winner span.value {
  color: #c4161c;
  border: 3px solid #278fd8;
  background-color: white;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#results tbody tr.total .loser span.value {
  padding-bottom: 50px;
}
#results tbody tr.total span.result {
  display: block;
  color: #278fd8;
  font-size: 20px;
}
#results .round {
  width: 255px;
}
#vote.home {
  width: 1200px;
}
#vote.home h2 {
  width: 198px;
  padding: 140px 25px 0 0;
  float: left;
  text-align: right;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}
#vote.home h2.enemy {
  text-align: left;
}
#signup {
  width: 200px;
  height: 200px;
  background: transparent url('../img/signup.png') scroll no-repeat left top;
  display: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0px 0px -100px;
  text-indent: -999em;
}
@media all and (max-width: 1200px) {
  html,
  body,
  .container {
    width: 1200px;
    overflow: hidden;
  }
}
@media all and (max-height: 750px) {
  #me,
  #my-opponent {
    height: 80%;
  }
  #me .inner,
  #my-opponent .inner {
    height: 100%;
  }
  #me .inner .content,
  #my-opponent .inner .content {
    height: 100%;
    overflow: scroll;
  }
  #me .inner .content h1,
  #my-opponent .inner .content h1 {
    padding: 10px 0;
  }
  #me .inner .content h2,
  #my-opponent .inner .content h2 {
    padding-bottom: 10px;
  }
}
a.top-right-button {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 15px;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
#faq-button {
  position: absolute;
  left: 50px;
  top: 48px;
}
#faq-button .inner {
  color: white;
  font-size: 60px;
  line-height: 1em;
  display: block;
  width: 60px;
  height: 60px;
  border: 10px solid white;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 5px;
}
#confessional-button {
  position: absolute;
  right: 50px;
  top: 48px;
}
#confessional-button .inner {
  text-indent: -999em;
  background: transparent url('../img/frenemy-confess.png') scroll no-repeat left top;
  width: 86px;
  height: 77px;
  margin-bottom: 8px;
}
.confessional #faq-button {
  color: #278fd8;
}
.confessional #faq-button .inner {
  color: #278fd8;
  border-color: #278fd8;
}
.confessional #confessional-button {
  color: #278fd8;
}
.confessional #confessional-button .inner {
  background-image: url('../img/confess.png');
}
.top-right-button:hover,
.top-right-button:active {
  color: #278fd8;
  border-color: #278fd8;
}
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  border: 7px solid white;
  padding: 20px 40px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal .modal-header button {
  color: white;
}
#play-by-play-trigger {
  float: right;
  margin-top: -3px;
}
#play-by-play {
  width: 720px;
  margin-left: -400px;
}
.tablesorter {
  color: black;
}
#container-inner ul.confessions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#container-inner ul.confessions > li {
  padding: 20px 0;
  border-bottom: 1px solid #BABABA;
}
#container-inner ul.confessions > li > .confession-label {
  width: 170px;
  float: left;
  padding: 125px 0 0 0;
  background: transparent url('../img/confession.png') scroll no-repeat left 40px;
  color: #278fd8;
}
#container-inner ul.confessions > li > .confession-content {
  margin-left: 170px;
}
#container-inner ul.confessions > li > .confession-content > h2 {
  text-align: left;
}
#container-inner ul.confessions > li > .confession-content > h3 {
  display: block;
  float: right;
  font-weight: normal;
  font-size: 30px;
  line-height: 1em;
  color: black;
  padding: 0 10px;
  margin: 10px 0;
}
#container-inner ul.confessions > li > .confession-content > ul {
  display: block;
  float: right;
  margin: 18px 0;
}
#container-inner ul.confessions > li > .confession-content > ul > li {
  display: block;
  float: left;
  padding: 0 10px;
  border-left: 1px solid #278fd8;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1em;
}
#container-inner ul.confessions > li > .confession-content > ul > li:first-child {
  border-left: none;
}
