@lightBlue: #dfeef9;
@blue: #278FD8;
@paneShadow: #375163;
@yellow: #ffcb05;
@red: #c4161c;

@bauhaus: 'Bauhaus W01 Heavy', Arial, sans-serif;

html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	overflow: hidden;

	> .container {
		width: 100%;
		height: 100%;
		overflow: scroll;
		
		> #container-inner {
			width: 1200px;
			margin: 0 auto;
			padding-bottom: 60px;
/*
			overflow: scroll;
			height: 100%;
*/
		}
	}
}
body.confessional {
	background-color: white;
	color: #333;
	
	#container-inner {

		#header {
			h1 {
				background-image: url('../img/frenemy-confessional-logo.png');
				float: none;
				margin: 0 auto;
				width: 585px;
				height: 184px;
				text-indent: -999em;
			}
		}
		h2 {
			color: #bababa;
			text-align: center;
			margin: 30px 0;
			font-size: 40px;
			line-height: 1em;
		}
		textarea {
			display: block;
			height: 330px;
			margin: 0 auto;
		}
		button {
			font-family: @bauhaus;
			font-size: 40px;
			line-height: 30px;
			padding-top: 10px;
			display: block;
			width: 160px;
			margin: 20px auto 0 auto;
		}
		h3 {
			color: #999;
			font-size: 15px;
			line-height: 1.2em;
			margin: 0;
			font-family: Arial, sans-serif;
			text-align: center;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @bauhaus;
	font-weight: bold;
	color: @blue;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}

.transition (@duration: 0.3s) {
  -webkit-transition: all @duration ease-out; 
     -moz-transition: all @duration ease-out; 
      -ms-transition: all @duration ease-out; 
       -o-transition: all @duration ease-out; 
          transition: all @duration ease-out;
}

/*
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #333;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
	background-color: #666;
}
*/

.border-radius (@topLeft: 10px, @topRight: 10px, @bottomRight: 10px, @bottomLeft: 10px) {
  -webkit-border-radius: @topLeft @topRight @bottomRight @bottomLeft;
          border-radius: @topLeft @topRight @bottomRight @bottomLeft;

 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

.rotate (@degrees) when (@degrees = right) {
		  -webkit-transform: rotate(90deg); 
		     -moz-transform: rotate(90deg); 
		      -ms-transform: rotate(90deg); 
		       -o-transform: rotate(90deg); 
		          transform: rotate(90deg);
//		             filter: ~"progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */ M11=6.123031769111886e-17, M12=-1, M21=1, M22=6.123031769111886e-17, sizingMethod='auto expand')";
		               zoom: 1;
}
.rotate (@degrees) when (@degrees = left) {
		  -webkit-transform: rotate(-90deg); 
		     -moz-transform: rotate(-90deg); 
		      -ms-transform: rotate(-90deg); 
		       -o-transform: rotate(-90deg); 
		          transform: rotate(-90deg);
//		             filter: ~"progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */ M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, sizingMethod='auto expand')";
		               zoom: 1;
}
.pane {
	opacity: 0;
	.transition(0.3s);

	.handle {
		display: block;
		background-color: @blue;
		margin: 0 auto;

		color: white;
		font-size: 48px;
		line-height: 52px;
		text-align: center;
		
		.border-radius(10px, 10px, 0, 0);
		text-transform: lowercase;
		
		a {
			display: block;
//			padding-right: 20px;
			color: white;
			text-decoration: none;
			cursor: pointer;
		}
	}
	
	.inner {
		height: 670px;
		background-color: @blue;
		padding: 35px;
		
		.content {
			border: none;
			background-color: white;
			  -webkit-box-shadow: 5px 10px 0 0 @paneShadow;
			          box-shadow: 5px 10px 0 0 @paneShadow;
			          
			h1, h2, h3 {
				text-align: center;
			}
			h1 {
				text-align: center;
				padding: 35px 0;
				font-size: 45px;
				line-height: 100%;
			}
			
			h2 {
				padding: 0 0 35px 0;
				font-size: 42px;
				line-height: 100%;
			}
			h3 {
				font-size: 25px;
				line-height: 120%;
				color: black;
				padding: 0 30px;
			}
			
			.profile {
				padding: 340px 0 0 0;
				background: transparent url('../img/birthday.png') scroll no-repeat center top;
			}
			.profile.chat {
				background-image: url('../img/chat.png');
			}
			.profile.personality.Extrovert {
				background-image: url('../img/extrovert.png');
			}
			.profile.personality.Introvert {
				background-image: url('../img/introvert.png');
			}
			.profile.no-info {
				background-image: url('../img/noinfo.png');
			}
			.profile.sports-team {
				background-image: url('../img/sportsteam.png');
			}
			.profile.transportation {
				background-image: url('../img/transportation.png');
			}
			.profile.color,
			.profile.voting {
				padding: 0;
				background: none;
			}
			.profile .color {
				display: block;
				width: 340px;
				height: 340px;
				margin: 0 auto 35px auto;
				text-indent: -999em;
			}
			.color.Red {
				background-color: #ff3333;
			}
			.color.Orange {
				background-color: #ff6633;
			}
			.color.Yellow {
				background-color: #ffec00;
			}
			.color.Green {
				background-color: #66cc33;
			}
			.color.Blue {
				background-color: #0000ff;
			}
			.color.Indigo {
				background-color: #333399;
			}
			.color.Violet {
				background-color: #ff00ff;
			}
			.color.White {
				background-color: #ffffff;
			}
			.color.Black {
				background-color: #000000;
			}
			
			.profile.voting {
				color: #8d8d8d;
				font-family: @bauhaus;
				font-size: 20px;
				line-height: 200%;
				
				ul, li {
					list-style-type: none;
					margin: 0;
					padding: 0;
					clear: both;
				}
				li {
					padding: 0 0 10px 0;
				}
				
				span.date {
					display: block;
					width: 100px;
					float: left;
					text-align: right;
					padding: 15px 10px 0 0;
				}
				span.no-votes {
					display: block;
					padding: 15px 0 0 0;
				}
				span.friend,
				span.enemy {
					float: left;
					margin: 0 2px;
				}
				span.friend {
					background-position: -126px top;
				}
				span.enemy {
					background-position: -84px top;
				}
				h3 {
					clear: both;
					padding-top: 10px;
				}
			}
		}
	}
}

#leaderboard {
	width: 820px;
	height: 530px;

	position: absolute;
	bottom: -585px;
	left: 50%;
	margin-left: -410px;

	.handle {
		height: 55px;
		width: 330px;
	}

	.inner {
		.border-radius(10px, 10px, 0, 0);
		
		.spinner {
			left: 375px;
			top: 100px;
		}

		> a {
			text-decoration: none;
			text-transform: uppercase;
			font-family: @bauhaus;
			color: #bfdef3;
			font-weight: bold;
			display: block;
			float: left;
			cursor: pointer;
			margin: 0 20px 10px 10px;
		}
		> a > i {
			background-color: @paneShadow;
			.border-radius(10px, 10px, 10px, 10px);
			display: inline-block;
			width: 20px;
			height: 19px;
			text-align: center;
			padding-top: 1px;
		}
		> a.disabled {
			color: #CCC;
			cursor: default;
		}
		> a.next {
			float: right;
		}

		.content {
			clear: both;
			width: 740px;
			height: 380px;
			
			
			.headings {
				width: 420px;
				margin: 0 auto 10px auto;
				padding: 20px 0 0 0;
				
				h3 {
					color: #8d8d8d;
					display: inline-block;
					width: 300px;
					text-align: left;
					padding: 0;
					margin: 0;
					font-size: 25px;
					line-height: 120%;
				}
				h3.leader {
				}
				h3.score {
					width: 120px;
				}
			}
			.ul-container {
				overflow: hidden;
				width: 420px;
				height: 380px;
				margin: 0 auto;
				position: relative;
				
				ul {
					.transition;
					width: 420px;
					margin: 0px auto;
					padding: 0;
					list-style-type: none;	
					
					position: absolute;
					left: 740px;
	
					li {
						border-bottom: 1px solid @lightBlue;
						margin-bottom: 10px;
	
						.name,
						.score {
							display: inline-block;
							width: 300px;
							color: black;
						}
						.name {
							font-size: 20px;
							line-height: 100%;
						}
						.score {
							font-family: @bauhaus;
							font-size: 35px;
							line-height: 120%;
							width: 120px;
							color: @blue;
						}
					}
					li:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

#chat {
	width: 770px;
	height: 500px;

	position: absolute;
	top: -625px;
	left: 50%;
	margin-left: -385px;

	.handle {
		height: 55px;
		width: 330px;
		.border-radius(0, 0, 10px, 10px);
	}

	.inner {
		height: 500px;
		.border-radius(0, 0, 10px, 10px);

		.content {
			width: 700px;
			height: 500px;
		}
	}
	
	p {
		margin-top: 10px;
		text-align: center;
	}
}

#me {
	width: 550px;
	height: 740px;

	position: absolute;
	left: -605px;
	top: 20px;

	.handle {
		position: absolute;
		right: -192px;
		top: 300px;
		height: 55px;
		width: 330px;
		.rotate(right);
//		a.rotateBack {
//			.rotate(left);
//			padding: 0;
//		}
	}
	.inner {
		.border-radius(0, 10px, 10px, 0);

		.content {
			width: 480px;
			height: 670px;
		}
	}
}

#my-opponent {
	width: 550px;
	height: 740px;

	position: absolute;
	right: -605px;
	top: 20px;

	.handle {
		position: absolute;
		left: -192px;
		top: 300px;
		height: 55px;
		width: 330px;
		.rotate(left);
//		a.rotateBack {
//			.rotate(right);
//			padding: 0;
//		}
	}
	.inner {
		.border-radius(10px, 0, 0, 10px);

		.content {
			width: 480px;
			height: 670px;
		}
	}
}

#header {
	h2 {
		font-size: 40px;
		line-height: 120%;
	}
	h2.lets {
		width: 110px;
		float: left;
		text-transform: uppercase;
		margin: 35px 20px 0 185px;
	}
	h1 {
		a {
			background: transparent url('../img/logo.png') scroll no-repeat left top;
			width: 582px;
			height: 181px;
			text-indent: -999em;
			float: left;
		}
	}
	h2.prompt {
		width: 215px;
		float: left;
		margin: 35px 0 0 20px;
	}
	h2.oops {
		margin-top: 55px;
	}
}

#vote {
	clear: both;
	padding-top: 20px;
	width: 754px;
	margin: 0 auto;
	position: relative;
	
	
	a.vote {
		display: block;
		width: 357px;
		margin: 0 10px;
		float: left;

		> .avatar {
			background-color: white;
			padding: 28px;
			width: 285px;
			margin: 0 auto;
			  -webkit-box-shadow: 5px 10px 0 0 #2d2d2d;
			          box-shadow: 5px 10px 0 0 #2d2d2d;
			
			
			> .inner {
				background: white url('../img/sprite.png') scroll no-repeat left -326px;
				width: 285px;
				height: 285px;
				text-indent: -999em;
			}
			
			
		}
	}
	
	a.vote.enemy {
		> .avatar {
			> .inner {
				background-position: -285px -326px;
			}
		}
	}
	
	a.vote.chosen,
	a.vote.active:hover {
		text-decoration: none;

		> .avatar {
			background-color: @yellow;
			> .inner {
				background-color: @yellow;
				background-position: left -611px;
			}
		}
		h3 {
			color: @red;
		}
	}
	
	a.vote.chosen.enemy,
	a.vote.active.enemy:hover {
		> .avatar {
			> .inner {
				background-position: -285px -611px;
			}
		}
	}
	a.vote.disabled {
		cursor: default;
	}
	
	a.vote.strikethrough {
		text-decoration: none;
		
		h3 {
			position: relative;
		}
		h3:before {
			content: url('../img/strikethrough.png');
			position: absolute;
			top: 5px;
			left: 50%;
			margin-left: -75px;
		}
		
		.avatar {
			background-color: black;
			  -webkit-box-shadow: none;
			          box-shadow: none;

			.inner {
				background-color: black;
				background-position: left -41px;
			}
		}
	}
	a.enemy.vote.strikethrough {
		.avatar {
			.inner {
				background-position: -285px -41px;
			}
		}
	}
	
	a.next-round {
		width: 100px;
		height: 100px;
		.border-radius(70px, 70px, 70px, 70px);
		border: 2px solid black;
		background-color: white;
		display: black;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -72px 0 0 -72px;
		padding: 25px 20px 15px 20px;
		font-family: @bauhaus;
		color: @blue;
		font-size: 20px;
		line-height: 120%;
		text-align: center;
		text-decoration: none;
	}
	
	h3 {
		color: white;
		text-align: center;
		font-size: 40px;
		line-height: 120%;
		margin-top: 16px;
	}
}

#expired {
	clear: both;
	padding-top: 120px;

	h2 {
		font-size: 35px;
		line-height: 120%;
		color: white;
		text-align: center;
	}
	h2.blue {
		color: @blue;
	}
}

span.friend,
span.enemy {
	display: block;
	width: 42px;
	height: 41px;
	background: transparent url('../img/sprite.png') scroll no-repeat left top;
	margin: 0 14px;
	text-indent: -999em;
}
span.enemy {
	background-position: -42px top;
}

#scoring {
	width: 1070px;
	margin: 0 auto;
	clear: both;
	padding-bottom: 150px;
	
	h4 {
		color: #808080;
		border-bottom: 1px solid #808080;
		text-transform: uppercase;
		font-size: 18px;
		margin: 30px 0 10px 0;
	}
	
	ul {
		list-style-type: none;
		width: 963px;
		margin: 0 auto;
		padding: 0;
	
		li {
			margin: 0;
			padding: 20px 50px;
			border-left: 1px solid #333333;
			display: block;
			width: 140px;
			float: left;
		
			.visuals {
				span.friend,
				span.enemy {
					float: left;
				}
			}
			.text {
				clear: both;
				text-align: center;
				font-size: 30px;
				line-height: 100%;
				color: #b0b0b0;
				padding-top: 20px;
		
				.points {
					font-family: @bauhaus;
				}
				.comma {
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
		li:first-child {
			border-left: none;
		}
		li.active {
			background-color: #333;
		}
	}
}
	
.you {
	color: @yellow;
}
a.you:hover,
a.you:active {
	color: @yellow;
}
.them {
	color: #767676;
}

#results {
	clear: both;
	width: 100%;
	text-align: center;
	font-family: @bauhaus;
	font-size: 35px;
	line-height: 120%;
	
	th {
		padding: 15px 15px 5px 15px;
	}
	
	.friend,
	.enemy {
		margin: 10px auto;
	}
	.enemy {
		background-position: -84px top;
	}
	
	th.moves,
	th.points {
		border-bottom: 1px solid white;
	}
	
	tbody {
		tr {
			border-top: 1px solid #6d6d6d;
			padding-bottom: 10px;
		}
		tr:first-child {
			border-top: none;
		}
		tr.total {
			border-top: none;
			
			span.value {
				display: inline-block;
				padding: 15px 15px 5px 15px;
			}
	
			.tie,
			.winner {
				span.value {
					color: @red;
					border: 3px solid @blue;
					background-color: white;
					.border-radius(10px, 10px, 10px, 10px);
				}
			}
			.loser {
				span.value {
					padding-bottom: 50px;
				}
			}
			span.result {
				display: block;
				color: @blue;
				font-size: 20px;
			}
		}
	}

	.round {
		width: 255px;
	}
}

#vote.home {
	// Home Screen
	width: 1200px;

	h2 {
		width: 198px;
		padding: 140px 25px 0 0;
		float: left;
		text-align: right;
		font-size: 32px;
		line-height: 120%;
		text-transform: uppercase;
	}
	h2.enemy {
		text-align: left;
	}
}
#signup {
	width: 200px;
	height: 200px;
	background: transparent url('../img/signup.png') scroll no-repeat left top;
	display: black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0px -100px;
	text-indent: -999em;
}

@media all and (max-width: 1200px) {
	html, body, .container {
		width: 1200px;
		overflow: hidden;
	}
}

@media all and (max-height: 750px) {
	#me,
	#my-opponent {
		height: 80%;
		.inner {
			height: 100%;

			.content {
				height: 100%;
				overflow: scroll;

				h1 {
					padding: 10px 0;
				}
				h2 {
					padding-bottom: 10px;
				}
			}
		}
	}
}

a.top-right-button {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	font-size: 15px;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
#faq-button {
	position: absolute;
	left: 50px;
	top: 48px;

	.inner {
		color: white;
		font-size: 60px;
		line-height: 1em;
		display: block;
		width: 60px;
		height: 60px;
		border: 10px solid white;
		.border-radius(40px, 40px, 40px, 40px);
		margin-bottom: 5px;
	}
}
#confessional-button {
	position: absolute;
	right: 50px;
	top: 48px;
	
	.inner {
		text-indent: -999em;
		background: transparent url('../img/frenemy-confess.png') scroll no-repeat left top;
		width: 86px;
		height: 77px;
		margin-bottom: 8px;
	}
}
.confessional #faq-button {
	color: @blue;

	.inner {
		color: @blue;
		border-color: @blue;
	}
}
.confessional #confessional-button {
	color: @blue;

	.inner {
		background-image: url('../img/confess.png');
	}
}
.top-right-button:hover,
.top-right-button:active { //,
//.top-right-button:hover .inner,
//.top-right-button:active .inner {
	color: @blue;
	border-color: @blue;
}

.modal {
	background-color: rgba(0, 0, 0, 0.7);
	border: 7px solid white;
	padding: 20px 40px;
	.border-radius();
	
	.modal-header {
		button {
			color: white;
		}
	}
}

#play-by-play-trigger {
	float: right;
	margin-top: -3px;
}
#play-by-play {
	width: 720px;
	margin-left: -400px;
}
.tablesorter {
	color: black;
}

#container-inner ul.confessions {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	> li {
		padding: 20px 0;
		border-bottom: 1px solid #BABABA;
		
		> .confession-label {
			width: 170px;
			float: left;
			padding: 125px 0 0 0;
			background: transparent url('../img/confession.png') scroll no-repeat left 40px;
			color: @blue;
		}
		> .confession-content {
			margin-left: 170px;

			> h2 {
				text-align: left;
			}
			> h3 {
				display: block;
				float: right;
				font-weight: normal;
				font-size: 30px;
				line-height: 1em;
				color: black;
				padding: 0 10px;
				margin: 10px 0;
			}
			> ul {
				display: block;
				float: right;
				margin: 18px 0;
				
				> li {
					display: block;
					float: left;
					padding: 0 10px;
					border-left: 1px solid @blue;
					
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1em;
				}
				> li:first-child {
					border-left: none;
				}
			}
		}
	}
}