h3 Howdy!

p
	| Your email address (#{email}) was used to register a new account at #{base_url}. If this was intentional, please click <a href="#{activation_url}">here</a> to confirm your account.

p If you did not initiate this action, there is no need to take any action.