p
	| Your Frenemy account has been deactivated because you haven't been playing Frenemy everyday. If you want to keep playing or believe this was done in error, please reply to this email and we'll activate you for tomorrow's game.