p Hi #{user.name},

h3 End of round results:

p
	| You've both played your moves, <a href="#{url}">check out the results and play the next round</a>.

hr

p
	| If at anytime you'd like to be unsubscribed from these notifications, simply reply to this email and we'll deactivate your account the following day.