p Hi #{user.name},

h3 It's time for move ##{round.number+1} in today's game.

p
	| You and your opponent have both played, <a href="#{url}">check out the results and make your next move</a>.

hr

p
	| If at anytime you'd like to be unsubscribed from these notifications, simply reply to this email and we'll deactivate your account the following day.