p Hi #{user.name},

h3 Tomorrow is another game.

p
	| Today's game of Frenemy is over. <a href="#{url}">See a round-by-round output of today's results and start thinking about your strategy for tomorrow.</a>

hr

p
	| If at anytime you'd like to be unsubscribed from these notifications, simply reply to this email and we'll deactivate your account the following day.