h1 Hi #{user.name}!

p
	| A new game of <a href="http://frenemy.experimonth.lifeandscience.org">Frenemy</a> has begun! Click <a href="#{url}">this link</a> to check out your opponent and take your turn in the first round!