h3 Good morning #{user.name}!

p
	| Your daily game of Frenemy has begun. <a href="#{url}">Find out about today's opponent and make your first move.</a>

hr

p
	| If at anytime you'd like to be unsubscribed from these notifications, simply reply to this email and we'll deactivate your account the following day.