h3 Good morning #{user.name}!

p
	| Your daily game of Frenemy has begun. <a href="#{url}">Find out about today's opponent</a> (there's a new piece of information about them in the "my opponent" tab on the site) and make your first move.

p
	| Once you both make your moves, you'll receive another email notification asking you to make your next move. That'll continue until the game is over. Each game has between 3-7 moves, but that changes everyday at random.

p
	| This game will expire at 12 o'clock midnight, EDT.

hr

p
	| If at anytime you'd like to be unsubscribed from these notifications, simply reply to this email and we'll deactivate your account the following day.