p Hi #{user.name},

h3 Time for reciprocity (or retaliation?)

p
	| Your opponent has picked a side. <a href="#{url}">Go see what they picked and make your move.</a>

hr

p
	| If at anytime you'd like to be unsubscribed from these notifications, simply reply to this email and we'll deactivate your account the following day.