h1 Nudge!

p
	| Your opponent has picked a side in this round of <a href="http://frenemy.experimonth.lifeandscience.org">Frenemy</a>! Now it's your turn! Click <a href="#{url}">this link</a> to take your turn!