p Hi #{user.name},

p
	| Your Frenemy account has been deactivated either because you requested it, or because you haven't been playing several days in a row. If you want to keep playing or believe this was done in error, please reply to this email and we'll activate you for tomorrow's game.