.content
	.table-header-container
	.table-container
		table
			thead
				tr
					th.name
						.th-inner leader
					th.score
						.th-inner
							| average points per move 
							i.icon-question-sign
			tbody
				each player, i in players
					tr
						td.name #{player.name}
						td.score #{Math.round(player.pointsPerVote*100)/100}
