h3 What's the deal?
p You play a single game with a single person, everyday. Each game has five rounds. You have one piece of information about that person (in addition to how they vote throughout your game with them) to inform your decision to be their friend or enemy.

h3 What do I do?
ol
	li Click the "My Opponent" tab to see the one piece of information about your opponent
	li Decide to friend or enemy
	li Wait to receive an automated email that they've played
	li See what they chose and use that plus whatever info you have about the person to decide friend or enemy back
	li Repeat until you get an "End of Game" email.
p The next day, you'll be paired with a different person and learn a different thing about them and repeat the process.

h3 Is there a point?
p Definitely. We'll tell you at the end of the month... if you last!