extends layout

block body
	#container-inner
		#header
			h2.lets Let's play
			h1
				a FRENEMY
			h2.prompt SIGN UP TODAY!
		
		
		#vote.cf.home
			h2.you Kill 'em with kindness?
			a(class='vote friend disabled')
				.avatar 
					.inner 
				h3 friend
			a(class='vote enemy disabled') 
				.avatar 
					.inner
				h3 enemy
			h2.you.enemy An eye for an eye?
			a#signup(href="/login") Sign up to play!
		
		#scoring.cf
			h4 Scoring Reminder
			ul
				li#friend-friend
					.visuals
						span.friend
						span.friend
					.text
						span.points 15
						span.comma ,
						span.points 15
				li#friend-enemy
					.visuals
						span.friend
						span.enemy
					.text
						span.points -5
						span.comma ,
						span.points 25
				li#enemy-friend
					.visuals
						span.enemy
						span.friend
					.text
						span.points 25
						span.comma ,
						span.points -5
				li#enemy-enemy
					.visuals
						span.enemy
						span.enemy
					.text
						span.points 5
						span.comma ,
						span.points 5
