!!!
html(lang="en")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=1200, minimum-scale=0.2666")
      title= 'Frenemy: '+title
      //- if(everyauth.loggedIn)
      //  style
      //    body {
      //      padding: 60px 0 0 0;
      //    }
      link(rel='stylesheet', href='http://fast.fonts.com/cssapi/a33e1fc1-4e82-4932-9b7f-6411183d5b4c.css', type='text/css')
      link(rel='stylesheet', href="/bootstrap/css/bootstrap.min.css")
      link(rel='stylesheet', href="/font-awesome/css/font-awesome.css")
      link(rel='stylesheet', href='/css/style.css')
      //Le HTML5 shim, for IE6-8 support of HTML5 elements
      //if lt IE 9
        script(src='/js/modernizr.js')
  body
    - if(everyauth.loggedIn)
      .navbar.navbar-fixed-bottom
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href="/") Frenemy
            .nav-collapse
              - if(everyauth.loggedIn)
                ul.nav
                  li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                        | Games
                      b.caret
                    ul.dropdown-menu
                      li: a(href="/games") Active Games
                      li: a(href="/games/all") All Games
                      li: a(href="/games/start") Force Start Day
                      li: a(href="/games/end") Force End Day
                  li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                        | Players
                      b.caret
                    ul.dropdown-menu
                      li: a(href="/players") List Players
                      li: a(href="/players/defending") List Defending Players
                      li: a(href="/players/nondefending") List Non-Defending Players
                      li: a(href="/players/add") Add Player
                      li: a(href="/players/import") Import Players
              ul.nav.pull-right
                li: a(href="/logout") Logout
    div(class="container")
      block messages
        #messages !{flashMessages}
      a#faq-button ?
      != body
      #faq.fade.modal.hide
        .modal-header
          button.close(type="button", data-dismiss="modal") x
          h3 FAQ
        .modal-body
          include faq

    block footer
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
      script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")

      script(src="/js/script.js")
    | <script type="text/javascript">
    | 
    |   var _gaq = _gaq || [];
    |   _gaq.push(['_setAccount', 'UA-22197400-2']);
    |   _gaq.push(['_trackPageview']);
    | 
    |   (function() {
    |     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    |     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    |     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    |   })();
    | 
    | </script>
    | <script type="text/javascript">
    |   var _gauges = _gauges || [];
    |   (function() {
    |     var t   = document.createElement('script');
    |     t.type  = 'text/javascript';
    |     t.async = true;
    |     t.id    = 'gauges-tracker';
    |     t.setAttribute('data-site-id', '4fc92977613f5d1697000001');
    |     t.src = '//secure.gaug.es/track.js';
    |     var s = document.getElementsByTagName('script')[0];
    |     s.parentNode.insertBefore(t, s);
    |   })();
    | </script>
