mixin do_notifications()
	- if(locals.notifications && locals.notifications.length > 0)
		ul
			- each notification, i in locals.notifications
				li(class='notification'+(notification.read ? ' read' : ''))
					| #{moment(notification.date).format('LLL')} - 
					| !{notification.text}
					a.close(href='/notification/read/'+notification._id)
						i.icon-remove
	- else
		h2 No Notifications!